*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 85px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: realtive;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #5D3FD3;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #5D3FD3;
    background: #5D3FD3;
    transition: 1s;   
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
     .nav-links {
         position: fixed;
         background: #5D3FD3;
         height: 100vh;
         width: 200px;
         top: 0;
         right: -200px;
         text-align: left;
         z-index: 2;
         transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*---purchase---*/

.purchase{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}



h1{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777 ;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


/*---info---*/

.info{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.info h1 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600; 
    text-align: center;   
}
/*---call to action---*/

.cta{
    margin: 100px;
    width: 85%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
 

/*---footer---*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px;
}

.footer h5{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600; 
    text-align: center;
}

.icons .fa{
    color: #5D3FD3;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

 
  

/*---about page---*/

.sub-header{
    height: 50vh;
    width: 105%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/banner3.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 45px;
}

.sub-header h1{
    margin-top: 100px;
}
 
.about-us img{
    width: 100%;
}

/*---buttons---*/
.red-btn{  
    border: 1px solid #5D3FD3;
    background: transparent;
    color: #5D3FD3;
}
 

.red-btn:hover{
    color: #fff;
}
 
 

/*---contact page---*/

 
.contact-header{
    height: 50vh;
    width: 105%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/contactus.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 45px;
}

.contact-header h1{
    margin-top: 100px;
}
 

.wrapper{
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(95%, 5%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper .title h1{
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 7%;
}

.input-fields,.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #5D3FD3;
  padding: 10px;
  color: white;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

.btn {
    background: #5D3FD3;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}

/*---purchase page---*/

.purchase-header{
    height: 50vh;
    width: 105%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/purchasepic.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 45px;
}

.purchase-header h1{
    margin-top: 100px;
}

 
 .wrapper2{
  position: center;
  top: 50%;
  left: 50%;
  transform: translate(60%, 5%);
  width: 100%;
  max-width: 550px;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.wrapper2 .title2 h1{
  color: white;
  text-align: center;
  margin-bottom: 25px;
}

.purchase-form{
  display: flex;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 7%;
}

.input-fields,.msg{
  width: 48%;
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 1px solid #5D3FD3;
  padding: 10px;
  color: white;
  width: 100%;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}

.btn {
    background: #5D3FD3;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .purchase-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields,
  .msg{
    width: 100%;
  }
}
 